html {
  background-color: #ECEAE0;
}
h1 {
  font-size: 32px;
  text-align: center;
  font-family: fantasy;
  text-shadow: 4px 4px 20px ; 
  color:#2d2d33;
}
h2 {
  color: #003366;

}
p {
  line-height: 1.5;
}
.important {
	font-weight: bold;
}
#job {
		font-weight: bold;
		font-size: 16px;
		color: gray;
		text-indent: 0.5em;
}
ol {
  list-style-type: square;
}
.content {
	font-size: 15px;
	line-height: 1.8;
}
#self {
	font-size: 15px;
	line-height: 1.8;
	text-indent: 2em;
}
@page{
	size: A4;
	margin: 0;
}
.page{
	width: 21cm;
	min-height: 29.7cm auto;
	padding: 2cm;
	margin: 1cm auto;
	border: 1px #D3D3D3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.1)
}